*{
    font-family: Helvetica, Arial, sans-serif;
    background-color: aliceblue;
}
.section {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 50px;
    justify-content: space-evenly;
}

h2{
    font-size: 48px;
    font-weight: bold;
    color: #1877F2;
    margin-bottom: -15px;
}



.container2{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    height: 450px;
    box-shadow: 10px 10px none;
    border: 2px solid white;
}
.container2 input{
    width: 400px;
    height: 50px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background: white;
    padding: 2px;
}
.container2 button{
    width: 400px;
    height: 50px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    font-size: 18px;
    padding: 2px;
    color: white;
    font-weight: 700;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #1877F2;
    margin-bottom: 10px;
}
a{
    font-size: 20px;
    font-weight: 500;
}

.span1{
    height: 210px;
    width: 150px;
    /* background-color: red; */
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.span1 img{
    border-radius: 10px;
    background-color: white;
    /* padding-bottom: 20px; */
}


.img{
    position: relative;
    left: 50px;
    top: 60px;
}


